body {
    margin: 0 auto;
    width: 100%;
}

h1 {
    font-size: 3*$baseFontSize;
    color: $themeTextColor;
    font-family: $themeFont;
    text-align: center;
    margin: (0.5*$baseFontSize) $centeringMargin;
}

form {
    margin: auto $centeringMargin;
    margin-bottom: 2.5%;
    text-align: center;


    .userName {
        text-align: center;
        font-size: $baseFontSize;
        color: $themeTextColor;
        vertical-align: middle;
    }
    .loadOrgs {
        font-style: $themeFont;
        color: $themeTextColor;
        height: 2*$baseFontSize;
        border-radius: 3px;
        background-color: $buttonBackColor;
        &:hover {
            box-shadow: 1px 2px 3px $buttonHoverColor;
        }
    }
}

.results {
    width: $orgWindowWidth;
    padding: 0;
    margin: auto $centeringMargin;

    .userOrg {
        list-style: none;
        background-color: $orgBackgroundColor;
        border: 2px solid $orgBorderColor;
        border-radius: 10px;
        margin: $marginAroundOrgName;
    }
    .orgName {
        display: inline;
        font-family: $themeFont;
        color: $orgNameColor;
        text-shadow: 1px 2px $orgNameBackColor;
        font-size: $orgNameSize;
        vertical-align: middle;
    }
    .avatar {
        position: relative;
        width: $avatarSize;
        border-radius: 5px;
        vertical-align: middle;
        margin: $marginAroundAvatar;
    }
}
