$orgBackgroundColor: #ebebec;
$orgBorderColor: #717274;

$orgNameColor: #a2a2a2;
$orgNameBackColor: #ffffff;

$pageTitleColor: #717274;

$themeFont: 'Raleway', sans-serif;

$orgNameSize: 3em;
$marginAroundOrgName: 1em;

$marginAroundAvatar: 5px;
$avatarSize: 100px;

$orgWindowWidth: 95%;
